.chat-container {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  overflow: scroll;
  height: 400px;
}

.chat-control {
  background: white;
  border-top: 1px solid;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  padding: 50px;
}

.chat-control input {
  width : 150px;
  height: 25px;
  margin: 1px;
  border: 1px solid;
  border-radius: 0;
}

.chat-control button {
  width : 100px;
  height: 30px;
  margin: 1px;
  border: 1px solid;
  border-radius: 0;
}